html{
    height: 100%;
}

body{
    background-image: url('../src/connexion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    font-family: Georgia, serif;
    color: white;
}

body:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
    z-index: -1;
    height: 100%;
}

@media (max-height: 700px) {
    body, body:after {
        background-size: auto;
        height: 700px;
    }
}

form{
    min-width: 30%;
}

.form-input{
    width: 100%;
    background: rgb(0 0 0 / 0%);
    border: none;
    height: 50px;
    color: rgb(255 255 255) !important;
    border: 1px solid rgb(0 0 0 / 0%);
    background: rgb(255 255 255 / 8%);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.form-input:hover, .form-input:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
}

.form-input:focus {
    border-color: rgba(255, 255, 255, 0.4);
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
    opacity: 1;
}

.form-label{
    color: rgb(251 206 181);
}

.form-checkbox {
    color: #c7c0c0
}

.form-checkbox input:checked ~ .checkmark:after {
    color: #c7c0c0
}

.form-btn{
    background: rgb(255 255 255 / 15%);
    /* color: rgb(192 188 188); */
    color: white;
    backdrop-filter: blur(12px);
    border-radius: 40px;
    font-size: 15px;
}

.form-btn:hover{
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(15px);
    border-color: rgb(255 255 255 / 40%);
    color: white;
}

.invalid-feedback {
    color: rgb(245 73 89);
}

.valid-feedback {
    color: rgb(52 235 150);
}

.container{
    backdrop-filter: blur(1px);
}