html {
    height: 100%;
}

body {
    background-image: url('../src/inscription.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: white;
}

body:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
    z-index: -1;
}

.container {
    @media (min-height: 720px) {
        body:after {
            background-size: auto;
            height: 850px;
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    body:after {
        background-size: auto;
        height: 900px;
    }
}

form {
    min-width: 30%;
}

.form-input {
    width: 100%;
    background: rgb(0 0 0 / 0%);
    border: none;
    height: 50px;
    color: rgb(255 255 255) !important;
    border: 1px solid rgb(0 0 0 / 0%);
    background: rgb(255 255 255 / 8%);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.form-input:hover,
.form-input:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
}

.form-input:focus {
    border-color: rgba(255, 255, 255, 0.4);
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
    opacity: 1;
}

.form-label {
    color: rgb(251 206 181);
}

.form-btn {
    min-height: 40px;
    background: rgb(251 206 181) !important;
    border: 1px solid rgb(251 206 181) !important;
    color: rgb(0 0 0) !important;
    border-radius: 40px;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase;
}

.invalid-feedback {
    color: rgb(245 73 89);
}

.valid-feedback {
    color: rgb(52 235 150);
}

.popup-info{
    background-color: transparent;
    border: none;
}

#mdp {
    display:inline-block;
    position: relative
}
#mdp:after {
    font-family: 'FontAwesome';
    content: '\f007';
    position: absolute;
    right: 6px;
}

.errspan {
    float: right;
    margin-right: 15px;
    margin-top: -37px;
    position: relative;
    z-index: 2;
}